@font-face {
  font-family: "YouSheBiaoTiHei"; //用法：font-family:number
  src: url("./YouSheBiaoTiHei.ttf"); //字体文件路径

}
@font-face {
  font-family: "AliHYAiHei"; //用法：font-family:number
  src: url("./AliHYAiHei.ttf"); //字体文件路径

}

@font-face {
  font-family: "SourceHanSansCN";
  src: url("./SourceHanSansCN-Medium.ttf");
}
@font-face {
  font-family: "SourceHanSansCN-Light";
  src: url("./SourceHanSansCN-Light.ttf");
}

@font-face {
  font-family: "BigYoung";
  src: url("./BigYoung.ttf");
}

@font-face {
  font-family: "PangMenZhengDao";
  src: url("./PangMenZhengDao.ttf");
}

@font-face {
  font-family: "fzzzhjt";
  src: url("./fzzzhjt.ttf");
}

@font-face {
  font-family: "impact";
  src: url("./impact-2.ttf");
}

